/*==================== VARIABLES CSS ====================*/

:root {
    --border: rgba(126,55,47,1);
    --bg-chip: rgba(201,203,213,0.36);
    --text-chip: rgba(47,44,54,1);
}

/*==================== PROFILE CSS ====================*/

.avatar {
    border : 1em solid var(--border);
}

.chip {
    background: var(--bg-chip);
    color: var(--text-chip);
    padding: 0.35em 1em;
    font-variant: all-small-caps;
    font-weight: 800;
    border-radius: 20px;
}



