@import "../../../css/index.css";

/* Comment section */

.comment-bar {
    display: block;
    border-left: 3px solid;
    padding-left: 1rem;
    margin-left: 3rem;
    border-image:
            linear-gradient(
                    to bottom,
                    rgb(47,44,54,1),
                    rgb(126,55,47,1)
            ) 1 100%;
}