@import "../../../css/index.css";

/* Modal */

.custom-modal {
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, #2F2C36FF, #7E372FFF) border-box;
    border-left: 5px solid transparent;
}