/*==================== CUSTOM FONT ====================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');


/*==================== FRAMEWORK CSS ====================*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== APPLY CUSTOM FONT ====================*/

@layer base {
    html {
        font-family: Montserrat, sans-serif;
    }
}

/*==================== VARIABLES CSS ====================*/

:root {
    --bg-white: rgb(255,255,255, 1);
    --bg-color: rgb(240,240,240,1);

    --brick: rgb(126,55,47,1);
    --marine: rgb(47,44,54,1);

    --border-color: rgba(30, 29, 34, 0.15);
    --alt-border-color: rgba(30, 29, 34, 0.3);
    --border-card: rgba(119,125,149,0.8);
    --border-task: rgba(126,55,47,0.8);

    --input-color: rgba(126,55,47,1);
    --input-gray: rgba(119,125,149,0.4);

    --gradient: linear-gradient(90deg, rgba(47,44,54,1) 0%, rgba(126,55,47,1) 100%);
    --alt-gradient: linear-gradient(90deg, rgba(126,55,47,1) 0%, rgba(47,44,54,1) 12%);
    --gradient-top: linear-gradient(0deg, rgba(47,44,54,1) 0%, rgba(126,55,47,1) 100%);
}

/*==================== GLOBAL CSS ====================*/

        /* Scrollbar */

:root::-webkit-scrollbar {
    width: 0.75em;
}

:root::-webkit-scrollbar-thumb {
    background: var(--gradient-top);
    border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.75em;
    border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--gradient-top);
    border-radius: 2px;
}

.custom-scroll {
    overflow-x: auto;
}

        /* Sidebar */

.sidebar {
    height: 100lvh;
    border-radius: 0;
}

.l-item:hover, .l-item:active, .l-item:focus {
    background: var(--gradient) !important;
    color: var(--bg-color) !important;
}

.l-small-item:hover, .l-small-item:active, .l-small-item:focus {
    background: var(--alt-gradient) !important;
    color: var(--bg-color) !important;
}

.l-small-item, .l-item {
    background: transparent;
}

        /* Page */

body {
    background: var(--bg-color);
}

main {
    min-height: 69.5lvh;
}

        /* Typography */

h1 {
    font-size: 2.4em;
    font-weight: 800;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

h2:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 1.8em;
    background: var(--gradient-top);
    border-radius: 1em;
    margin-right: 0.5em;
    margin-bottom: -0.5em;
}

h3 {
    font-size : 1.4em !important;
}

h4 {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-align: end;
}

h4:after {
    content: "";
    display: inline-block;
    width: 0.2em;
    height: 1.8em;
    background: var(--gradient-top);
    border-radius: 1em;
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

p {
    font-size: 0.9em!important;
    line-height: 0.99 !important;
}

        /* Card */

.custom-card {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 5px solid var(--border-card)
}

.custom-card-body {
    height: 15lvh;
}

.custom-task {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-left : 5px solid var(--border-task)
}

.custom-task-body {
    height: 10lvh;
}

.custom-subt {
    font-variant: all-small-caps;
    color: var(--border-card);
    opacity: 0.7;
    font-weight: bolder;
    font-size: 1.1em!important;

}

        /* Modal */

.custom-modal {
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to top, #2F2C36FF, #7E372FFF) border-box;
    border-left: 5px solid transparent;
}

        /* Block */

.custom-block {
    background: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
}

.custom-project-body {
    height: 20lvh;
    overflow: auto;
}

        /* Block */

.false-input {
    background: var(--bg-white);
    border: 1px solid var(--input-gray);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
}

        /* Comment section */

.comment-bar {
    display: block;
    border-left: 3px solid;
    padding-left: 1rem;
    margin-left: 3rem;
    border-image:
            linear-gradient(
                    to bottom,
                    rgb(47,44,54,1),
                    rgb(126,55,47,1)
            ) 1 100%;
}






