/*==================== CUSTOM FONT ====================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');


/*==================== FRAMEWORK CSS ====================*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== APPLY CUSTOM FONT ====================*/

@layer base {
    html {
        font-family: Montserrat, sans-serif;
    }
}

/*==================== VARIABLES CSS ====================*/

:root {
    --bg-white: rgb(255,255,255, 1);
    --bg-color: rgb(240,240,240,1);
    --bg-select: rgb(244,245,246);

    --brick: rgb(126,55,47,1);
    --marine: rgb(47,44,54,1);

    --border-color: rgba(30, 29, 34, 0.15);
    --alt-border-color: rgba(30, 29, 34, 0.3);
    --border-card: rgba(119,125,149,0.8);
    --border-task: rgba(126,55,47,0.8);

    --input-color: rgba(126,55,47,1);
    --datepicker-color: rgba(126,55,47,0.2);
    --input-gray: rgba(119,125,149,0.4);
    --desc-gray: rgba(119,125,149,0.2);

    --button-marine : rgb(47,44,54,0.8);

    --gradient: linear-gradient(90deg, rgba(47,44,54,1) 0%, rgba(126,55,47,1) 100%);
    --alt-gradient: linear-gradient(90deg, rgba(126,55,47,1) 0%, rgba(47,44,54,1) 12%);
    --gradient-top: linear-gradient(0deg, rgba(47,44,54,1) 0%, rgba(126,55,47,1) 100%);

    --ck-color-button-on-color : var(--border-task) !important;
    --ck-color-focus-border: rgba(126,55,47,0.4) !important;
}

/*==================== GLOBAL CSS ====================*/

        /* Scrollbar */

:root::-webkit-scrollbar {
    width: 0.75em;
}

:root::-webkit-scrollbar-thumb {
    background: var(--gradient-top);
    border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar {
    width: 0.75em;
    border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: var(--gradient-top);
    border-radius: 2px;
}

.custom-scroll {
    overflow-x: auto;
}

        /* Page */

body {
    background: var(--bg-color);
}

body > div#root {
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

        /* Typography */

h1 {
    font-size: 2.4em;
    font-weight: 800;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

h2:before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 1.8em;
    background: var(--gradient-top);
    border-radius: 1em;
    margin-right: 0.5em;
    margin-bottom: -0.5em;
}

h3 {
    font-size : 1.4em !important;
}

h4 {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 0.5em;
    text-align: end;
}

h4:after {
    content: "";
    display: inline-block;
    width: 0.2em;
    height: 1.8em;
    background: var(--gradient-top);
    border-radius: 1em;
    margin-left: 0.5em;
    margin-bottom: -0.5em;
}

p {
    font-size: 0.9em!important;
}

        /* Card */

.custom-card {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--border-card)
}

.custom-card-body {
    min-height: 8rem;
}

.custom-task {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-left : 2px solid var(--border-task)
}

.custom-task-body {
    height: 8rem;
}

.custom-subt {
    font-variant: all-small-caps;
    color: var(--border-card);
    opacity: 0.7;
    font-weight: bolder;
    font-size: 1.1em!important;

}

.custom-sb-task {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-card-task {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--border-task);
    display: grid;
    grid-template-rows: 0.8fr;
    transition: grid-template-rows 0.5s ease-out;
}

.custom-card-user {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--border-task);
    display: grid;
    grid-template-rows: 0.4fr;
    transition: grid-template-rows 0.5s ease-out;
}
.custom-card-doc {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--button-marine);
    grid-template-rows: 0.7fr;
    transition: grid-template-rows 0.5s ease-out;
}


.custom-card-purchase-all {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--border-task);
}

.custom-card-purchase {
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
    border-bottom : 2px solid var(--button-marine);
}


.custom-card-task > div, .custom-card-user > div, .custom-card-doc > div {
    overflow: hidden;
    white-space: break-spaces;
}

.custom-card-task:hover, .custom-card-user:hover, .custom-card-doc:hover {
    grid-template-rows: 1fr;
}

        /* Block */

.custom-block {
    background: var(--bg-white);
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
}

.custom-project-body {
    height: 12rem;
    overflow: auto;
}

.false-input {
    background: var(--bg-white);
    border: 1px solid var(--input-gray);
    border-radius: 0.5em;
    box-shadow: 1px 0.5px 1px rgb(30,29,34, 0.1);
}

        /* Selection Date */

.bg-indigo-500, .bg-blue-500 {
    background: var(--input-color) !important;
}

.bg-blue-100 {
    background: var(--datepicker-color) !important;
}

.text-indigo-500, .text-blue-500 {
    color: var(--input-color) !important;
}

        /* Custom Task */

.bg-gray-900 {
    background: var(--marine) !important;
    transition: 0.2s;
}

.taskDescription {
    border: 1px solid var(--desc-gray);
}

        /* Custom Text Editor */

.ck-content {
    height: 12em !important;
}

.ck-toolbar {
    border-radius: 8px 8px 0 0 !important;
}

.ck-rounded-corners {
    border-radius: 0 0 8px 8px !important;
}

        /* Custom Select */

.css-1h06qz8-control{
    border: none !important;
}

.css-1h06qz8-control, .bg-select {
    background: var(--bg-select)!important;
    color: var(--text-chip);
}

.border-select {
    border: 1px solid rgb(200,210,215) !important;
    border-radius: 8px;
}

.css-1dimb5e-singleValue, .css-1jqq78o-placeholder, .react-select-6-placeholder {
    color: rgb(54,51,60,1) !important;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.css-171fg0w-MultiValueRemove:hover {
    background: var(--input-gray) !important;
    color: var(--input-color) !important;
}

        /* Modifiable Textarea */

.modifiableDescription {

    border: none;
    overflow: clip;
}

.modifiableDescription:focus {
    border-color: transparent;
    border-style: none;
    outline: none;
}

.popup {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 100;
}















