    /* Font custom */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');

    /* Framework CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

    /* Apply custom font */
@layer base {
    html {
        font-family: Montserrat, sans-serif;
    }
}

    /* Global CSS */

        /* Page */

body {
    background: rgb(240,240,240,1);
}

main {
    min-height: 70lvh;
}

    /* Footer */

footer {
    border-top : 1px solid rgb(30,29,34, 0.2);
    bottom: 0;
}


