.project-page {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 5rem;
}

/* SECTION 2 */

.steps-project-header {
    display: flex;
}

.steps-project-header-title {
    width: 30%;
}
.steps-project-header-buttons {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.steps-project-steps {
    display: flex;
}


.step {
    border: solid;
    width: 25%;
}

/* SECTION 3 */

.project-comments {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.comment {
    margin:1rem;
    border:solid;
}
