
.b3-comment {
    border: 1px solid #1e1d2233;
}

.b3-comment-bar {
    display: block;
    border-left: 3px solid;
    padding-left: 1rem;
    margin-left: 3rem;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(47,44,54,1), 
        rgb(126,55,47,1)
      ) 1 100%;
}