.project-page {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 5rem;
}

/* SECTION 1 */

.header-nav-project {
    display: flex;
    margin-bottom: 3rem;
   
}

.header-body-project {
    display: flex;
    margin-bottom: 1rem;
}

.header-body2-project {
    display: flex;
    margin-bottom: 5rem;
}

.half {
    width: 50%;
}

.header-project-budget {
    display: flex;
    justify-content: space-between;
}

/* .header-project-budget form{
    display: flex;
    justify-content: space-between;
} */

.header-form {
    display: flex;
    justify-content: space-between;
}

.nav-project-buttons {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.nav-project-name {
    width: 40%;
}

.button-project {
    margin-right:1rem;
    margin-left:1rem;
}

/* SECTION 2 */

.steps-project-header {
    display: flex;
}

.steps-project-header-title {
    width: 30%;
}
.steps-project-header-buttons {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.steps-project-steps {
    display: flex;
}


.step {
    border: solid;
    width: 25%;
}

/* SECTION 3 */

.project-comments {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.comment {
    margin:1rem;
    border:solid;
}
